<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>git clone https://pavel-mikhalchuk-belarus:123qweasd@github.com/pavel-mikhalchuk/kuberjenkins.git .</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cp /var/jenkins_home/* src/ || exit 0</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cp -r /var/jenkins_home/jobs src/
cp -r /var/jenkins_home/logs src/
cp -r /var/jenkins_home/nodes src/
cp -r /var/jenkins_home/plugins src/
cp -r /var/jenkins_home/secrets src/
cp -r /var/jenkins_home/updates src/
cp -r /var/jenkins_home/userContent src/
cp -r /var/jenkins_home/users src/
cp -r /var/jenkins_home/workflow-libs src/

git config user.email &quot;jenkins@kube.com&quot;
git config user.name &quot;Jenkins&quot;

git add -A
git commit -m &quot;Jenkins update ${JOB_NAME}-${BUILD_NUMBER}&quot;
git push</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
</project>